<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <meta name="description" content="{{ description or site.description }}" />
    <link rel="canonical" href="{{ site.url }}{{ page.url | toCanonicalUrl }}" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    {%- if map %}
    <script type="module" src="/assets/js/script.mjs"></script>
    {% endif %} {%- if settings.environment == "PRD" %}
    <script id="plausible" defer data-domain="globetrotters.earth" src="https://plausible.io/js/script.js"></script>
    {% endif %}
  </head>
  <body>
    {% include "../components/header.njk" %}

    <main>
      {{ content | safe }}
    </main>

    {% include "../components/footer.njk" %}
  </body>
</html>
